/src/ecci/nbproject/private/
/src/ecci/build/
/src/ecci/dist/
/src/ecci.entidades/nbproject/private/
/src/ecci.entidades/build/
/src/ecci.entidades/dist/
/src/entidades/nbproject/private/
/src/entidades/build/
/src/entidades/dist/
/src/database/nbproject/private/
/src/web/nbproject/private/
/src/dal/nbproject/private/
/src/database/build/
/src/dal/build/
/src/database/dist/
/src/dal/dist/
/src/prueba/nbproject/private/
/src/prueba/build/